* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    background-image: url('img/miniatura.png');
    background-size:cover;
    background-position: center;
}
/* parte del fondo del video */
.container {
    position: fixed;
    top: 5%;
    right: 10%;
    z-index: -1;
    overflow: hidden;
    width: 80%;
    height: 90%;
    border-radius: 28px;
    box-shadow: 0 0 30px 2px rgba(255, 0, 0, 0.705);
}
video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    filter: blur(8px);
    border-radius: 40px;
    
    transform: scale(1/1);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 4%;
}
.foto {
    width: 100%;
    margin-bottom: 6%;
}
.imagen-portada {
    width: 60%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* ahora la parte del contenido */
/* parte de personalizaciones de los details y summary */
details {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(to right, white, rgb(255, 145, 145));
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
summary {
    cursor: pointer;
    padding: 6%;
    font-weight: bold;
    list-style: none;
    position: relative;

    transition: transform 0.2s ease;
}
summary:hover {
    transform: scale(1.05);
}

summary::marker,
summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "";
    position: absolute;
    right: 6%;
    top: 50%;
    width: 0.55em;
    height: 0.55em;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.2s ease;
}

details[open] summary::after {
    transform: translateY(-50%) rotate(-135deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
details p, details ul, details img {
    padding: 4%;
}

/* ahora los estilos de los contenidos que están dentro de esos details y demás */
/* descripcion */
.descripcion {
    font-size: 0.9em;
}

/* espacio del visualizer */
.espacio-visualizer {
    width: 90%;
    margin: 4% auto;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("img/miniatura.png");
    background-size: cover;
    background-position: center;
}
.boton-reproducir {
    width: 25%;
    cursor: pointer;

    transition: transform 0.2s ease;
}
.espacio-visualizer:hover > .boton-reproducir {
    transform: scale(1.2);
}
.espacio-visualizer:hover {
    filter: brightness(1.4);
}

/* parte de interactivos de los estilos del desplegable */
.desplegable-abierto {
    background: linear-gradient(to right, black, rgb(73, 0, 0));
    color: white;
}

/* parte de la lista y los enlaces */
li {
    list-style: none;
    margin: 2% 0;  
}
.enlace-completo {
    display: block;
    width: 80%;
    padding: 4%;
    box-sizing: border-box;
    background: linear-gradient(to right, white, rgb(78, 78, 78));
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0 auto;

    transition: transform 0.2s ease;
}
.enlace-completo:hover {
    transform: scale(1.04);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(101, 101, 101));
    color: white;
}

/* enlace lindo */
.enlace-espacio {
    width: 80%;
    margin: 0 auto;
}
.boton-llamativo {
    width: 100%;
    margin-top: 6%;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 86, 86));
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.boton-llamativo:hover {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 86, 86));
    box-shadow: 0 0 12px 2px rgba(255, 165, 30, 0.7);
    color: white;
    transform: scale(1.1);
}